@media (max-width: 768px) {
    .mq { flex-direction: column; }
    .mq div { width: 100% !important; }
    .mq-boton button { width: 100%!important; }
}

@media (max-width: 768px) {
    .mq-perfil { flex-direction: column-reverse; }
    .mq-perfil legend { text-align:center }
    .mq-perfil img { width: 75% !important; }
}
@media (max-width: 576px) {
    .mq-nav { flex-direction: column!important; }
    .mq-nav p { text-align:center; }
}

body {
    margin: 50px;
    background-color: #f1f2f8;
}
h1 {
    text-align: center;
}
#page {
    color:red;
    margin-bottom:20px;
}

#question {
    margin-bottom:20px;
    color: #FFFFFF;
    border-radius: 4em 0px 4em 0px;
    -moz-border-radius: 4em 0px 4em 0px;
    -webkit-border-radius: 4em 0px 4em 0px;
    border: 0px solid #000000;
    line-height: 100px;
    height:100px;
    width:100%;
    text-align: center;
    font-weight: bold;
    background-color:rgb(115, 0, 150);
    text-transform: capitalize;
}
#point {
    display: block;
    font-size: 20px;
    font-weight:bold;
}

#win {
    display:none;
}
#each-question {
    max-width:800px;
    text-align: center;
    margin: 0 auto;
    margin-top:100px;
}
#characterBox {
    text-align: center;
    margin: 10px;
}
.container {
    padding-top: 30px;
}
.box {
    margin-top: 10px;
    display: inline-block;
    background-color : #3498db;
    color: #FFFFFF;
    border-radius: 2em 2em;
    line-height: 60px;
    height:60px;
    width:100%;
    font-weight:bold;
}
.answerBox {
    display: inline-block;
    background-color : #3498db;
    color: #FFFFFF;
    border-radius: 2em 2em;
    line-height: 60px;
    height:60px;
    width:100%;
    font-weight:bold;
}
td {
    padding: 5px 5px;
    width: 600px;
}
#footer {
    margin-top: 30px;
}
.character {
    position: absolute;
    display:block;
    line-height: 30px;
    height:30px;
    width:30px;
    font-weight: bold;
    z-index:-1;
}
.box:hover {
    background-color: #2980b9;
}
#answer {
    margin: 20px;
}
#submit-button {
    float: right;
}

#button {
    margin: 30px;
}

#report{
    float: right;
    margin-top: 30px;

}
#submit-answer {
    float: left;
    margin-top: 30px;
}


.contenedor {
    max-width: 50%;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
 
}


.contenedor .icono i {
    line-height: 40px;
}


/*LISTADO DE PREGUNTAS */

#listadoPreguntas {
    border: 1px solid #c0c0c0;
    padding: 10px;
}

#listadoPreguntas .contenedor-pregunta header {
    display: flex;
    justify-content: space-between;
}

#listadoPreguntas .contenedor-pregunta header .tema {
    display: block;
    background: #7cafe9;
    color: #fff;
    font-size: 12px;
    padding: 8px 6px; 
    border-radius: 10px;

}

#listadoPreguntas .contenedor-pregunta header .opciones {
    display: flex;
    align-items: center; 
}

#listadoPreguntas .contenedor-pregunta header .opciones i {
    margin-right: 5px;
    cursor: pointer;
}

#listadoPreguntas .contenedor-pregunta .pregunta {
    margin-top: 10px;
    font-size: 20px;
}

#listadoPreguntas .opcion {
    margin-bottom: 10px;
}
