@media (max-width: 768px) {
    .mq { flex-direction: column; }
    .mq div { width: 100% !important; }
    .mq-boton button { width: 100%!important; }
}

@media (max-width: 768px) {
    .mq-perfil { flex-direction: column-reverse; }
    .mq-perfil legend { text-align:center }
    .mq-perfil img { width: 75% !important; }
}
@media (max-width: 576px) {
    .mq-nav { flex-direction: column!important; }
    .mq-nav p { text-align:center; }
}

body {
    margin: 50px;
    background-color: white;
}

h1 {
    text-align: center;
}

.titulo{
    margin-top: 10px;
    margin-left: 25px;
    color: #314056;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    border-bottom: 2px solid #d6d4d4; 

}

.container2 {
    display: flex;
    background-color: #ffffff;
 
}

#main {
    flex: 1;
}

.nav {
    flex: 0 0 auto; 
    width: 250px;
    border-right: 1px solid #d5d4d6;
    margin-left: 15px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 15px 0;
}

.nav ul li .icono {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eeeeee;
    color: #314056;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
}

.nav ul li .icono i {
    line-height: 40px;
}

.nav ul li a {
    text-decoration: none;
    color: #31415a;
    font-size: 16px;
    font-weight: 600;
}

.nav ul li a:hover {
    color: #007bff;
}

.nav ul li a:hover .icono {
    background-color: #cccccc;
    color: #007bff;
}

.img-perfil{
    border-radius: 50%; /* Hace que la imagen sea completamente redonda */
    border: 2px solid #ccc; /* Borde opcional para la imagen */
    width: 50px; /* Ancho deseado para la imagen */
    height: 50px; /* Altura deseada para la imagen */
    margin-left: 15px;
}

.logo{
    height: 70x;
    width: 270px;
}


.tabla-historial {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.tabla-historial table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-historial th,
.tabla-historial td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd; 
}

.tabla-historial th {
    background-color: #f2f2f2; 
    font-weight: bold;
    color: #333;
}
.tabla-historial tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Fondo gris claro para filas impares */
}


#page {
    color:red;
    margin-bottom:20px;
}

#question {
    margin-bottom:20px;
    color: #FFFFFF;
    border-radius: 4em 0px 4em 0px;
    -moz-border-radius: 4em 0px 4em 0px;
    -webkit-border-radius: 4em 0px 4em 0px;
    border: 0px solid #000000;
    line-height: 100px;
    height:100px;
    width:100%;
    text-align: center;
    font-weight: bold;
    background-color:rgb(115, 0, 150);
    text-transform: capitalize;
}
#point {
    display: block;
    font-size: 20px;
    font-weight:bold;
}

#win {
    display:none;
}
#each-question {
    max-width:800px;
    text-align: center;
    margin: 0 auto;
    margin-top:100px;
}
#characterBox {
    text-align: center;
    margin: 10px;
}
.container {
    padding-top: 30px;
}
.box {
    margin-top: 10px;
    display: inline-block;
    background-color : #3498db;
    color: #FFFFFF;
    border-radius: 2em 2em;
    line-height: 60px;
    height:60px;
    width:100%;
    font-weight:bold;
}
.answerBox {
    display: inline-block;
    background-color : #3498db;
    color: #FFFFFF;
    border-radius: 2em 2em;
    line-height: 60px;
    height:60px;
    width:100%;
    font-weight:bold;
}
td {
    padding: 5px 5px;
    width: 600px;
}
#footer {
    margin-top: 30px;
}
.character {
    position: absolute;
    display:block;
    line-height: 30px;
    height:30px;
    width:30px;
    font-weight: bold;
    z-index:-1;
}
.box:hover {
    background-color: #2980b9;
}
#answer {
    margin: 20px;
}
#submit-button {
    float: right;
}

#report{
    float: right;
    margin-top: 30px;
}

#volver{
    margin-left: 20px;
}

#submit-answer {
    float: left;
    margin-top: 30px;
}
.modalContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .pop {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .pop h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
  }
  
  .pop p {
    opacity: 0.7;
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
  }

#messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 3vw;
    font-weight: 700;
    animation: agrandarTexto 1s forwards;
}

@keyframes agrandarTexto {
    from {
        font-size: 3vw;
    }
    to {
        font-size: 4vw;
    }
}

.texto-verde {
    color: green;
}
    
.texto-rojo {
    color: red;
}

.contenedor {
    max-width: 50%;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
 
}

.contenedor .icono i {
    line-height: 40px;
}


/*LISTADO DE PREGUNTAS */

#listadoPreguntas {
    border-top: 1px solid #c0c0c0;
    width: 100%;
}

#listadoPreguntas .contenedor-pregunta header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#listadoPreguntas .contenedor-pregunta header .tema {
    display: block;
    background: #7cafe9;
    color: #fff;
    font-size: 12px;
    padding: 8px 6px; 
    border-radius: 10px;
    margin-left: 30px;

}

#listadoPreguntas .contenedor-pregunta header .opciones {
    display: flex;
    align-items: center;
    margin-left: 30px; 
}

#listadoPreguntas .contenedor-pregunta header .opciones i {
    margin-right: 5px;
    color: #31415a;
    cursor: pointer;
    
}

#listadoPreguntas .contenedor-pregunta header .opciones i:hover {
    color: #007bff;
}

#listadoPreguntas .contenedor-pregunta .pregunta {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 30px;
}

#listadoPreguntas .opcion {
    margin-bottom: 10px;
    margin-left: 30px;
}

.contenedor-grafico {
    width: 100%; /* Ajustar el ancho según sea necesario */
    max-width: 600px; /* Ancho máximo del div */
    height: auto; /* La altura se ajustará automáticamente según la proporción */
    border: 1px solid #ccc; /* Borde para resaltar el div */
    overflow: hidden; /* Ocultar cualquier desbordamiento */
    margin: 0 auto; /* Centrar el div horizontalmente */
}

.contenedor-grafico img {
    width: 100%; /* La imagen ocupa el 100% del ancho del div */
    height: auto; /* La altura se ajusta automáticamente según la proporción */
    display: block; /* Asegura que la imagen sea un elemento de bloque */
}

.box-datos{
    background: linear-gradient(135deg, #F8D7B8, #824A71, #2c2d4c);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 1em;
    width: 30%;
}


.container-maps {
    height: 60%;
}

#map {
    width: 80%;
    height: 80%;
    border: 1px solid blue;
}
#data, #allData {
    display: none;
}

#echo_supremo{
    background-color: dodgerblue;
    color: dodgerblue;
}

.nombre-ranking{
    color: black;
    text-decoration: none;
}

.nombre-ranking:hover{
    color: #007bff;
}

.respuesta-correcta {
    color: #00cf30; /* Texto verde oscuro */
  }

  .respuesta-incorrecta {
    color: #000000; /* Texto verde oscuro */
  }
