<footer>
    <div class="footer-container">
        <p>© 2024 Mi Empresa. Todos los derechos reservados.</p>
        <p>
            <a href="mailto:contacto@miempresa.com">contacto@miempresa.com</a> |
            <a href="tel:+123456789">+1 234 567 89</a>
        </p>
        <div class="social-links">
            <a href="https://www.facebook.com/miempresa" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
            <a href="https://www.twitter.com/miempresa" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="https://www.instagram.com/miempresa" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="https://www.linkedin.com/company/miempresa" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
        </div>
        <p>
            <a href="politica-privacidad.html">Política de Privacidad</a>
        </p>
    </div>
</footer>
<!-- Incluye la biblioteca de Font Awesome para los iconos de las redes sociales -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kU-rH-YHsLWmaWw9ymmAVxtHbeQ7bZI&callback=loadMap">
</script>
</body>
</html>
