<nav class="py-6 px-4 navbar navbar-expand-lg bg-primary d-flex justify-content-between mq-nav">
    <p class="m-0 p-0 text-light fs-3 fw-bold">
        Preguntados
    </p>
    <div class="d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav flex-row">
            <li class="nav-item px-2">
                <a class="nav-link text-white fs-5" href="/TP_Final-PW2_UNLaM/user/porfile">
                    Perfil
                </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white fs-5" href="/TP_Final-PW2_UNLaM/user/logout">
                    Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>