<div class="container2">

        <nav class="nav" id="nav">
        <ul>
         <li>
            <a href="/TP_Final-PW2_UNLaM/pregunta/suggestQuestion">
                <div class="icono" id="0">
                    <i class="fa-solid fa-plus"></i>
                </div>
                Crear pregunta
            </a>
        </li>
        <li>
            <a href="/TP_Final-PW2_UNLaM/view/editorHomeView">
                <div class="icono" id="0">
                    <i class="fa-solid fa-check"></i>
                </div>
                Preguntas Activas
            </a>
        </li>
        <li>
            <a href="/TP_Final-PW2_UNLaM/user/inactiveQuestions">
                <div class="icono" id="1">
                    <i class="fa-solid fa-circle-minus"></i>
                </div>
                Preguntas Inactivas
            </a>
        </li>
        <li>
            <a href="/TP_Final-PW2_UNLaM/user/suggestedQuestions">
                <div class="icono" id="2">
                    <i class="fa-solid fa-question"></i>
                </div>
                Preguntas Sugeridas
            </a>
        </li>
          <li>
            <a href="/TP_Final-PW2_UNLaM/user/reportedQuestions">
                <div class="icono" id="2">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                Preguntas Reportadas
            </a>
        </li>
         <li>
            <a href="/TP_Final-PW2_UNLaM/user/logout">
                <div class="icono" id="2">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </div>
                Cerrar Sesión
            </a>
        </li>
        </ul>
    </nav>

{{#usuario}}
{{#preguntas}}    

<main id="main" class="d-flex justify-content-center">   

        <section id="listadoPreguntas">
            <div class="contenedor-pregunta">
                <header>
                    <span class="tema">{{categoria}}</span>
                    {{#activas}} 
                    <div class="opciones">
                        <form action="/TP_Final-PW2_UNLaM/user/editQuestion" method="post">
                            <input type="hidden" name="preguntaId" value="{{id}}">
                            <button type="submit"  class="btn btn-link">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </form>

                        <form action='/TP_Final-PW2_UNLaM/user/disapproveQuestion' method='post'>
                            <input type="hidden" name="preguntaId" value="{{id}}">
                            <button type='submit' class="btn btn-link">
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                        </form>
                    </div>
                    {{/activas}}

                    {{#sugeridas}}
                    <div class="opciones">
                        <form action="/TP_Final-PW2_UNLaM/user/approveQuestion" method="post">
                            <input type="hidden" name="preguntaId" value="{{id}}">
                            <button type="submit"  class="btn btn-link">
                                <i class="fa-solid fa-check"></i>
                            </button>
                        </form>

                        <form action='/TP_Final-PW2_UNLaM/user/deleteQuestion' method='post'>
                            <input type="hidden" name="preguntaId" value="{{id}}">
                            <button type='submit' class="btn btn-link">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                    {{/sugeridas}}

                    {{#reportadas}}
                    <div class="opciones">
                        <form action="/TP_Final-PW2_UNLaM/user/approveQuestion" method="post">
                            <input type="hidden" name="preguntaId" value="{{id}}">
                            <button type="submit"  class="btn btn-link">
                                <i class="fa-solid fa-check"></i>
                            </button>
                        </form>
                
                        <form action='/TP_Final-PW2_UNLaM/user/disapproveQuestion' method='post'>
                            <input type="hidden" name="preguntaId" value="{{id}}">
                            <button type='submit' class="btn btn-link">
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                        </form>
                    </div>
                {{/reportadas}}
            </header>
    
            <p class="pregunta">{{descripcion}}</p>
        
               {{#respuestas}}
                    <div class="opcion" data-estado="{{estado_respuesta}}">
                        <span class="texto">{{descripcion}}</span>
                    </div>
                {{/respuestas}}

        {{/preguntas}}   
        {{/usuario}} 

        <script src="/TP_Final-PW2_UNLaM/public/js/respuestaCorrecta.js" defer></script>

        </div>
    </section>
</main>
</div>