<nav class="py-6 px-4 navbar navbar-expand-lg bg-primary d-flex justify-content-between mq-nav">
    <p class="m-0 p-0 text-light fs-3 fw-bold">
        Preguntados
    </p>
</nav>

<main class="d-flex justify-content-center --bs-tertiary-color">
<fieldset class="my-5 p-4 w-50 bg-light rounded-4" style="height: max-content">
<legend class="text-center fw-bold">Editar pregunta</legend>

<form action="" method="post" class="p-3">

    {{#pregunta}}
    <div class="d-flex flex-column">
        <div class="row mb-3">
            <label for="categoria" class="col-2 col-form-label">Categoría:</label>
            <input type='hidden' name='id_pregunta' value="{{id}}">
            
            <div class="col-sm-3">
                <select name="categoria" id="categoria" class="form-select" required>
                    {{#categorias}}
                        <option value={{id}}>{{descripcion}}</option>
                    {{/categorias}}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="pregunta"  class="col-2 col-form-label">Pregunta:</label>
            <div class="col-10">
                <textarea name="descripcion" class="form-control">{{descripcion}}</textarea>
            </div>
        </div>
    {{/pregunta}}

    {{#respuestas}}
       <div class="row mb-3">
            <label class="col-2 col-form-label">Opción:</label>
            <div class="col-10">
                <textarea name="opcion" class="form-control">{{descripcion}}</textarea>
                <input type="hidden" name="respuestaId" value="{{id}}">
            </div>
        </div>
    {{/respuestas}}
   
        <div class="row mb-3">
            <label class="col-2 col-form-label" for="correcta">Correcta:</label>
            <div class="col-sm-3">
                <select class="form-select" name="correcta" id="correcta" required>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
        </div>


    <div class="p-2 d-flex justify-content-center mq-boton">
        <button type="submit" id="" name="" class="btn btn-primary">Guardar</button>
        <a href="/TP_Final-PW2_UNLaM/" id="" name="" class="btn btn-secondary">Volver</a>
    </div>

</form>
</div>
</fieldset>
</main>