{{>navJugador}}

<main class="m-4 p-4 w-75 bg-light">
<h2>PARTIDA FINALIZADA</h2>

{{#puntaje}}
    <p>Puntaje total: {{puntaje}}</p>
{{/puntaje}}

<a class="btn btn-info" href="/TP_Final-PW2_UNLaM/user/home">Volver al inicio</a>
</main>