<main class="d-flex justify-content-center">
    <section class="m-4 p-4 w-75 bg-light">
        {{#usuario}}
        <p>
            Bienvenido {{nombre}}
        </p>
        {{/usuario}}
    </section>
</main>
