<main class="d-flex justify-content-center">
    <section class="m-4 p-4 w-75 bg-light">
        {{#usuario}}
        <p>
            Bienvenido <span class="fw-bold"> {{nombre}} </span>
        </p>
        {{/usuario}}
        <a href="/TP_Final-PW2_UNLaM/user/perfil">
            Ver Perfil
        </a>
    </section>
</main>
