<nav class="py-6 px-4 navbar navbar-expand-lg bg-primary d-flex justify-content-between mq-nav">
    <p class="m-0 p-0 text-light fs-3 fw-bold">
        Preguntados
    </p>
    <div class="d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav flex-row">
            <li class="nav-item px-2">
                <a class="nav-link text-white fs-5" href="/TP_Final-PW2_UNLaM/user/porfile">
                    Perfil
                </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-white fs-5" href="/TP_Final-PW2_UNLaM/user/logout">
                    Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>
{{#usuario}}
<main class="d-flex justify-content-center">
    <section class="m-4 p-4 w-75 bg-light">
        <h1>Bienvenido, {{nombre}}</h1>
        <p class="fs-5">Puntaje en el ranking: 0</p>
        <div>
            <a class="" href="/TP_Final-PW2_UNLaM/partida/play">Crear Nueva Partida</a>
            <a href="/TP_Final-PW2_UNLaM/ranking/mostrarRanking">Ver Ranking</a>
        </div>

        <h2>Partidas Jugadas</h2>
        <ul>
            <li>Partida 1: Resultado [Resultado]</li>
            <li>Partida 2: Resultado [Resultado]</li>
            <li>Partida 3: Resultado [Resultado]</li>
            <!-- Agrega más partidas según sea necesario -->
        </ul>
    </section>
</main>
{{/usuario}}