<nav class="py-6 px-4 navbar navbar-expand-lg bg-primary d-flex justify-content-between mq-nav">
    <p class="m-0 p-0 text-light fs-3 fw-bold">
        Preguntados
    </p>
</nav>
<main id="each-question" class="row">
    <form action="/TP_Final-PW2_UNLaM/partida/checkAnswer" method="post" class="flex">
            {{#preguntas}}
                {{#color}}
                <div id="question" style="background-color: {{color}}">
                {{/color}}
                    <p class="text-center">{{descripcion}}</p>
                <!-- <input type="hidden" name="pregunta_id" value="{{id_pregunta}}">-->
                </div>
            {{/preguntas}}
                  
            {{#respuestas}}
                <div id="box" class="box">
                    <input type="radio"  id="respuesta{{@index}}" name="respuesta" value="{{descripcion}}">
                    <label for="respuesta{{@index}}">{{descripcion}}</label>
                </div>
            {{/respuestas}}

        <div class="form-group" id="board-button">
        <!--<a class="btn btn-info" href="/TP_Final-PW2_UNLaM/pregunta/reportQuestion">Reportar</a> -->
            <button type="submit" class="btn btn-info" id="submit-answer">Confirmar</button>
            <button class="btn btn-info" id="report">Reportar</button>
        </div>
    </form>
</main>