<main id="each-question" class="row">
    <form action="/TP_Final-PW2_UNLaM/partida/checkAnswer" method="post" class="flex">
        <div id="contador" class="p-3 fs-4 fw-bold"></div>
            {{#preguntas}}
                {{#color}}
                <div id="question" style="background-color: {{color}}">
                {{/color}}
                    <p class="text-center">{{descripcion}}</p>
                </div>
            {{/preguntas}}
                  
            {{#respuestas}}
                <div id="box" class="box">
                    <input type="radio"  id="respuesta{{@index}}" name="respuesta" value="{{descripcion}}">
                    <label for="respuesta{{@index}}">{{descripcion}}</label>
                </div>
            {{/respuestas}}

        <div class="form-group" id="board-button">
            <button type="submit" class="btn btn-success" id="submit-answer">Confirmar</button>
            <a class="btn btn-danger" id="report">Reportar</a>
        </div>
  
    </form>

  
    <div class="modalContainer" id="modalContainer">
        <div class="pop">
            <form action="/TP_Final-PW2_UNLaM/pregunta/reportQuestion" method="post" class="ml-2">
                <h3>REPORTAR</h3>
                <p>¿Estás seguro que quieres reportar esta pregunta?</p>
                {{#preguntas}}
                <input type="hidden" name="preguntaId" value="{{id}}">
                {{/preguntas}}
                <button type="submit" class="btn btn-info" id="close">SI</button>
                <a class="btn btn-danger" id="denegar">NO</a>
        </form>
    </div>
    </div>

    <script src="/TP_Final-PW2_UNLaM/public/js/report.js" defer></script>
    
</main>