{{>navJugador}}
<main>
    {{#usuario}}
        <h2>Perfil de {{nombre}}</h2>

        <p>Nombre: {{nombre}}</p>
        <p>Apellido: {{apellido}}</p>
        <p>Año de nacimiento: {{year_birth}}</p>
        <p>Sexo: {{sexo}}</p>
        <p>Ciudad: {{ciudad}}</p>
        <p>País: {{pais}}</p>
    {{/usuario}}
</main>