<body>
    <h1>PDF Guardado con Éxito</h1>
    <p>El reporte en PDF ha sido generado y guardado correctamente.</p>
    <a class="btn btn-info" href="/TP_Final-PW2_UNLaM/user/home"> Volver al Inicio </a>
</body>