{{>navJugador}}

<div class="container">


<main class="d-flex justify-content-center">   

<div class="tabla-historial">  
 <p class="titulo">Ranking</p>
<table>
    <thead>
        <tr>
            <th scope='col'>Usuario</th>
            <th scope='col'>Puntaje</th>
        </tr>
    </thead>
    <tbody>
        {{#ranking}}
            <tr>
                <td><a href="/TP_Final-PW2_UNLaM/user/profile/id={{id}}">{{nombre_usuario}}</a></td>
                <td>{{puntaje}}</td>
            </tr>
        {{/ranking}}
    </tbody>
</table>

</main>
</div>