<main class="d-flex justify-content-center bg-primary">
    <fieldset class="my-5 p-4 w-50 bg-light rounded-4" style="height: max-content">
        <legend class="text-center fw-bold">Un paso mas para Jugar!</legend>
        <form method="post" action="/TP_Final-PW2_UNLaM/user/activar" class="p-3">
            {{#error}}
                <p class="p-1 text-danger border border-danger rounded text-center">
                    {{error}}
                </p>
            {{/error}}
            <div class="d-flex flex-column">
                <div class="p-2 w-100">
                    <label for="username" class="form-label">
                        Ingresa tu nombre de usuario:
                    </label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="p-2 w-100">
                    <label for="codigo" class="form-label">
                        Ingresa tu codigo:
                    </label>
                    <input type="text" id="codigo" name="codigo" class="form-control" required>
                </div>
                <div class="p-2 w-100">
                    <button type="submit" value="validar" class="w-50 btn btn-primary w-100">
                        Validar
                    </button>
                </div>
            </div>
        </form>
    </fieldset>
</main>